.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cursorPointer {
  cursor: pointer;
}
.ArrowBackIcon {
  width: 30px;
  height: 30px;
}
.shoppingCart {
  text-align: center;
  height: 38px;
  color: #505050;
  border-top: 1px solid #312931;
  border-bottom: 1px solid #dcd8d3;
}
.shoppingCartContent {
  height: 100px;
  color: #505050;
  border-top: 1px solid #312931;
  border-bottom: 1px solid #dcd8d3;
  padding-top: 15px;
}
.bookListContainer {
  flex-wrap: wrap;
  .bookListContentBox {
    width: 28vw;
    height: 35vh;
    margin: 50px 0px 50px 20px;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 15px;
    flex-direction: column;
  }
  .bookListContentThumb {
    margin-bottom: 20px;
  }
  .bookListContentThumbnail {
    width: 25vw;
    height: 25vh;
    cursor: pointer;
  }
  .bookListContentTitleAndAuthorsBox {
    flex-direction: column;
  }
  .bookListContentAuthors {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .bookListShoppingCartBtn {
    background: white;
    width: 112px;
    height: 23px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
  }
}
.inputStyle {
  margin-top: 30px;
  margin-bottom: 30px;
  .input_search {
    width: 20%;
    height: 30px;
    font-size: 20px;
    padding: 10px;
  }
  .input_search::placeholder {
    padding: 10px;
    font-size: 20px;
  }
}
.nav {
  gap: 4px;
  margin: 16px;
  .buttonStyle {
    &[aria-current] {
      background: white;
      font-weight: bold;
      color: black;
      border: 1px solid black;
    }
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    background: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
}
.paginationTotalContetnBox {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  .paginationImgStyle {
    width: 80px;
    height: 100px;
  }
  .paginationDetailBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
  .paginationTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .paginationDetailInformationBox {
    color: #505050;
    padding: 2px 0 5px;
    font-size: 12px;
    font-weight: lighter;
  }
  .paginationContents {
    color: #777;
    font-size: 12px;
    font-weight: lighter;
    width: 60%;
  }
  .paginationPriceBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .paginationPrice {
    text-decoration: line-through;
    color: #a8a8a8;
    font-size: 11px;
    font-weight: normal;
    margin-right: 8px;
  }
  .paginationSalePrice {
    color: #e60012;
    font-weight: bold;
    font-size: 20px;
  }
  .paginationSalePercent {
    height: 20px;
    display: inline-table;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 4px;
    background: #e60012;
    color: #fff;
    padding: 1px 3px 2px 4px;
    font-size: 12px;
  }
  .paginationBtnBox {
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    .paginationQuantityInputStyle {
      padding: 0 4px 0 9px;
      text-align: center;
      margin-top: 20px;
      margin-right: 3px;
      font-size: 14px;
      color: #49494b;
      border: 2px solid #e5e5e5;
      width: 20px;
    }
    .paginationBtnStyle {
      background: white;
      width: 112px;
      height: 23px;
      display: inline-block;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  li {
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
}
.shoppingCartTotalPage {
  .shoppingCartHeader {
    display: flex;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;

    .shoppingCartHeaderProductName {
      width: 50%;
      padding-top: 15px;
    }
    .shoppingCartHeaderPrice {
      width: 4.5%;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 15px;
    }
    .shoppingCartHeaderSalePrice {
      width: 5%;
      padding-top: 15px;
    }
    .shoppingCartHeaderSaleQuantity {
      width: 8%;
      padding-top: 15px;
    }
    .shoppingCartHeaderSaleTotalPrice {
      width: 5%;
      padding-top: 15px;
    }
    .shoppingCartHeaderSaleReserves {
      width: 5%;
      padding-top: 15px;
    }
    .shoppingCartHeaderSalePriceState {
      width: 5%;
      padding-top: 15px;
    }
  }
  .shoppingCartProductName {
    width: 50%;
  }
}
