body {
  background: #f1f3f5;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-whatever {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-vertical-center {
  display: flex;
  align-items: center;
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursorPointer {
  cursor: pointer;
}
.ArrowBackIcon {
  width: 35px;
  height: 35px;
}
.positionR {
  position: relative;
}
.positionA {
  position: absolute;
}
.colorRed {
  color: #e60012;
}
.colorGreen {
  color: #3f9255;
}
.textBig {
  font-size: 18px;
}
.shoppingCart {
  text-align: center;
  height: 38px;
  color: #505050;
  border-top: 1px solid #312931;
  border-bottom: 1px solid #dcd8d3;
}
.shoppingCartContent {
  height: 100px;
  color: #505050;
  border-top: 1px solid #312931;
  border-bottom: 1px solid #dcd8d3;
  padding-top: 15px;
}
.mainTotalBox {
  animation-name: fadeOut;
  animation-duration: 500ms;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  .mainBtnStyle {
    width: 300px;
    height: 100px;
    margin-bottom: 50px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
      rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
      rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
      rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: green;
    padding: 7px 20px;
    text-align: center;
    transition: all 250ms;
    border: 0;
    font-size: 30px;
    touch-action: manipulation;
    font-weight: 600;
  }
  .mainBtnStyle:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
      rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
      rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
      rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
}
.infiniteHeadIconBox {
  background: #f1f3f5;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 20px;
  width: 70%;
  padding-bottom: 15px;
}
.infiniteHeadIconBoxBox {
  background: #f1f3f5;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 20px;
  width: 60%;
  padding-bottom: 15px;
}
.bookListContainer {
  flex-wrap: wrap;
  background: #f1f3f5;
  height: 100%;
  width: 70%;
  .bookListContentBox {
    animation-name: fadeOut;
    animation-duration: 400ms;
    width: 25%;
    height: 45vh;
    margin: 30px 0px 30px 30px;
    border: 1.5px solid black;
    border-radius: 30px;
    padding: 15px;
    flex-direction: column;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  }
  .bookListContentThumbnail {
    width: 180%;
    height: 27vh;
    cursor: pointer;
  }
  .bookListContentTitleAndAuthorsBox {
    flex-direction: column;
    margin-bottom: 8px;
    text-align: center;
    .bookListTitleF {
      font-size: 18px;
      margin-top: 15px;
    }
  }
  .bookListContentAuthors {
    padding: 5px;
    color: #495057;
  }
  .bookListShoppingCartBtn {
    background: white;
    width: 120px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    color: #3b3b3b;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .bookListShoppingCartBtn:hover {
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .bookListShoppingCartBtn:active {
    box-shadow: none;
    transform: translateY(0);
  }
}
.inputStyle {
  padding-top: 55px;
  padding-bottom: 30px;
  background: #f1f3f5;
  width: 70%;
  border-top: 3px solid #868e96;
  .input_search {
    width: 45%;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 8px;
    border: 2px solid #868e96;
    animation-name: fadeOut;
    animation-duration: 200ms;
  }
  .input_search::placeholder {
    font-size: 20px;
  }
}
.nav {
  gap: 4px;
  margin: 16px;
  .buttonStyle {
    &[aria-current] {
      background: white;
      font-weight: bold;
      color: black;
      border: 1px solid black;
    }
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    background: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
}
.paginationTotalContetnBox {
  position: relative;
  padding: 20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 70%;
  animation-name: fadeOut;
  animation-duration: 300ms;
  .paginationLoadingImg {
    width: 80px;
    height: 100px;
    background: #dee2e6;
  }
  .paginationImgStyle {
    width: 80px;
    height: 100px;
  }
  .paginationDetailBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
  .paginationDetailBoxLoading {
    width: 500px;
    height: 15vh;
    background: #dee2e6;
  }
  .paginationBtnLoading {
    width: 112px;
    height: 15vh;
    background: #dee2e6;
  }
  .paginationTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .paginationDetailInformationBox {
    color: #505050;
    padding: 2px 0 5px;
    font-size: 12px;
  }
  .paginationContents {
    color: #777;
    font-size: 12px;
    width: 60%;
  }
  .paginationPriceBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 5px;
  }
  .paginationPrice {
    text-decoration: line-through;
    color: #a8a8a8;
    font-size: 11px;
    font-weight: normal;
    margin-right: 8px;
  }
  .paginationSalePrice {
    color: #e60012;
    font-weight: bold;
    font-size: 20px;
  }
  .paginationSalePercent {
    height: 20px;
    display: inline-table;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 4px;
    background: #e60012;
    color: #fff;
    padding: 1px 3px 2px 4px;
    font-size: 12px;
  }
  .paginationBtnBox {
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    width: 150px;
    .paginationQuantityInputStyle {
      padding: 0 4px 0 9px;
      text-align: right;
      margin-top: 20px;
      margin-right: 3px;
      font-size: 14px;
      color: #49494b;
      border: 2px solid #e5e5e5;
      width: 30px;
    }
    .paginationBtnStyle {
      background: white;
      width: 112px;
      height: 23px;
      display: inline-block;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
.paginationTotalContetnBox:hover {
  background: white;
}

label {
  width: 100%;
  display: flex;
  justify-content: right;
}
ul {
  list-style: none;
  background: grey;
  height: 60px;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  position: relative;
  width: 70%;
  li {
    color: white;
    font-size: 18px;
    font-weight: 600;
    span:hover {
      color: pink;
    }
  }
  .paginationFilterDetail {
    color: #fcc419;
  }
}
.papginationrecent {
  width: 70%;
}
.shoppingCartPartDeleteBtnBox {
  padding-left: 30px;
  .shoppingCartPartDeleteBtn {
    align-items: center;
    background-color: #f1f3f5;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    color: #3c4043;
    font-size: 18px;
    font-weight: 600;
    height: 48px;
    max-width: 100%;
    padding: 2px 24px;
    text-align: center;
  }

  .shoppingCartPartDeleteBtn:hover {
    background: #e9ecef;
  }

  .shoppingCartPartDeleteBtn:disabled {
    background: #ced4da;
    cursor: default;
  }
}
.paginationTotalTotalBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infiniteRealTotal {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.paginationPostsEmptyBox {
  animation: fadeOut 300ms;
  flex-direction: column;
  margin-top: 150px;
  .paginationPostsEmptyIcon {
    width: 200px;
    height: 200px;
  }
  .paginationPostsEmptyText {
    font-size: 50px;
    font-weight: 600;
    text-decoration: underline;
  }
}
.shoppingCartTotalPage {
  animation: fadeOut 300ms;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .shoppingCartNoticeBox {
    display: flex;
    width: 100%;
    margin-left: 30px;
    margin-right: 50px;
    padding: 20px;
    font-size: 14px;
    background: #efefef;
    margin-bottom: 10px;
    border-bottom: 1px solid #d2d2d2;
  }
  .cartNotice {
    line-height: 200%;
  }
  .shoppingCartDeleteBtn {
    margin-right: 15px;
  }
  .shoppingCartImg {
    height: 90%;
  }
  .shoppingCartTitleTitle {
    margin-left: 15px;
  }
  .shoppingCartHeader {
    display: flex;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;

    .shoppingCartHeaderProductName {
      width: 40%;
      padding-top: 15px;
    }
    .shoppingCartHeaderPrice {
      width: 9%;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 15px;
    }
    .shoppingCartHeaderSalePrice {
      flex-direction: column;
      width: 9%;
      padding-top: 15px;
    }
    .shoppingCartHeaderSaleQuantity {
      width: 9%;
      padding-top: 15px;
    }
    .shoppingCartHeaderSaleTotalPrice {
      width: 9%;
      padding-top: 15px;
    }
    .shoppingCartHeaderSaleReserves {
      width: 9%;
      padding-top: 15px;
    }
    .shoppingCartHeaderSalePriceState {
      width: 9%;
      padding-top: 15px;
    }
  }
  .shoppingCartProductName {
    width: 40%;
  }
  .shoppingCartNothinginCartBlock {
    animation: fadeOut 300ms;
    height: 100%;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .shoppingCartNothingCartIcon {
    text-align: center;
    font-size: 130px;
    height: 200px;
    color: #868e96;
  }
  .shoppingCartNothingCartText {
    font-size: 40px;
    text-align: center;
    color: #868e96;
  }
  .shoppingCartNothingCartTextB {
    font-size: 40px;
    text-align: center;
    color: #868e96;
  }
  .shoppingCartNothingCartTextB:hover {
    font-size: 40px;
    text-align: center;
    color: #1c7ed6;
  }
}
.shoppingTable {
  margin-top: 50px;
  .shoppingTableFirst {
    font-size: 14px;
    background: #f6f6f6;
    color: #3a3a3a;
    height: 56px;
    line-height: 56px;
    padding: 20px;
    font-weight: 700;
    border-right: 1px solid #4d755a;
    border-bottom: 1px solid #e4e4e4;
    border-top: 3px solid #4d755a;
  }
  .shoppingTableSecond {
    color: #3a3a3a;
    height: 56px;
    line-height: 56px;
    padding: 20px;
    font-weight: 700;
    border-right: 1px solid #4d755a;
    border-bottom: 3px solid #4d755a;
    border-top: 1.5px solid #4d755a;
  }
  .shoppingTableSecond:nth-child(odd) {
    color: #e60012;
  }
}
.shoppingNotice {
  margin-top: 0;
  background: #efefef;
  padding: 18px 30px;
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
}
.ModalTotalBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.73);
  .ModalInnerTotalBox {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .ModalInner {
    width: 40%;
    height: 60%;
    background: white;
    border-radius: 20px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ModalInnerIconBlock {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 30px;
  }
  .ModalInnerIconStyle {
    width: 100px;
    height: 100px;
  }
  .ModalInnerTextBlock {
    flex-direction: column;
  }
  .ModalInnerTextStyle {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .ModalInnerTextStyleBuy {
    font-size: 18px;
    color: #adb5bd;
    font-weight: 500;
  }
  .ModalInnerBtnBlock {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ModalInnerBtnStyle {
    width: 200px;
    padding: 15px;
    background: #74c0fc;
    color: white;
    font-weight: 600;
    font-size: 13px;
    border: none;
    border-radius: 15px;
  }
}
.shoppingCartInfoTotal {
  margin-top: 40px;
  margin-bottom: 40px;
  .shoppingInfoBlock {
    padding-left: 15px;
    padding-right: 15px;
    background: #f1f3f5;
    border: 2px solid #dee2e6;
    .shoppingInfoHead {
      text-align: center;
      line-height: 180%;
      margin-top: 15px;
      font-size: 19px;
    }
    .shoppingInfoDetail {
      line-height: 180%;
    }
  }
}
.shoppingCheckOutBtn {
  margin-top: 30px;
  margin-bottom: 30px;
  .shoppingCheckOutBtnStyle {
    width: 30%;
    height: 100%;
    background: black;
    color: white;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 20px;
    font-weight: 600;
  }
  .shoppingCheckOutBtnStyle:hover {
    background: white;
    color: black;
  }
}
.modalShippingTotalBox {
  border: 2px solid #c1b6b2;
  width: 800px;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  td {
    vertical-align: middle;
    border: 1px solid #c1b6b2;
    color: #4d4b4c;
    margin-left: 20px;
    text-align: center;
    background: #f1f3f5;
  }
  .modalShippingMetropolitan {
    background-color: #efede8;
    color: #6b6259;
    border: 1px solid #c1b6b2;
    width: 130px;
    text-align: center;
  }
  .modalShippingHead {
    height: 30px;
    text-align: center;
    background-color: #d9d3c6;
    color: #6b6259;
    border: 1px solid #c1b6b2;
    width: 90px;
    font-size: 13px;
    line-height: 22px;
  }
  .modalShippingBody {
    display: table-row-group;
  }
  .modalShippingRegion {
    text-align: center;
    vertical-align: middle;
    background-color: #efede8;
    color: #6b6259;
    border: 1px solid #c1b6b2;
    padding: 5px 0;
    width: 100px;
  }
  .modalShippingRegion:nth-child(1) {
    width: 100px;
  }
}

.searchWordTotal {
  margin-left: 20px;
  width: 70%;
  .searchWordBox {
    margin-left: 10px;
    margin-right: 10px;
  }
  .searchWordWord {
    .searchWordIcon {
      margin-left: 5px;
      color: pink;
    }
    align-items: center;
    height: 13px;
    background-image: linear-gradient(
      rgba(179, 132, 201, 0.84),
      rgba(57, 31, 91, 0.84) 50%
    );

    border-radius: 20px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,
      rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #ffffff;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    margin: 0;
    text-align: center;
    .searchWordWord:hover {
      background-image: linear-gradient(#b384c9, #391f5b 50%);
    }
  }
  .searchWordText {
    font-weight: 600;
    font-size: 18px;
  }
}
.paginationLeftTotal {
  width: 16%;
  right: 0;
  height: 120vh;
  top: 33%;
  animation: fadeOut 300ms;
  .paginationLeftBox {
    height: 120vh;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    .paginationLeftText {
      font-weight: 600;
      font-size: 18px;
      color: #868e96;
      text-align: center;
    }
    .paginationLeftContentBox {
      width: 120%;
      height: 100%;
      overflow-y: auto;
      .paginationLeftContent {
        margin-bottom: 25px;
        .paginationContentImgXbtn {
          top: 5;
          left: 113px;
          color: black;
        }
        .paginationContentImg {
          border-radius: 10px;
        }
      }
    }
    .paginationLeftContentBox::-webkit-scrollbar {
      width: 8px;
    }
    .paginationLeftContentBox::-webkit-scrollbar-thumb {
      background-color: white;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
    }
    .paginationLeftContentBox::-webkit-scrollbar-track {
      background-color: grey;
      border-radius: 10px;
    }
  }
}
